// === VARIABLES ===
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 800px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1600px;

$screen-xs-max: 479px;
$screen-s-max: 799px;
$screen-m-max: 1023px;
$screen-l-max: 1279px;
$screen-xl-max: 1599px;

$color-main: #e5261e;
$color-main-dark: #cc221b;
$color-secondary: rgba(0, 0, 0, 0);
$color-secondary-dark: rgba(0, 0, 0, 0.1);
$color-background: #f2f2f2;
$color-background-dark: #333333;

:export {
  screenXS: $screen-xs;
  screenS: $screen-s;
  screenM: $screen-m;
  screenL: $screen-l;
  screenXL: $screen-xl;
  screenXXL: $screen-xxl;

  screenXSMax: $screen-xs-max;
  screenSMax: $screen-s-max;
  screenMMax: $screen-m-max;
  screenLMax: $screen-l-max;
  screenXLMax: $screen-xl-max;

  colorMain: $color-main;
  colorMainDark: $color-main-dark;
  colorSecondary: $color-secondary;
  colorSecondaryDark: $color-secondary-dark;
  colorBackground: $color-background;
  colorBackgroundDark: $color-background-dark;
}
