.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
.movies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 460px;

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
.genres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  min-height: 208px;
}
