@import 'assets/scss/variables.module';

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
.section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 20px;

  &__last {
    margin-bottom: 72px;
  }
}
.link {
  text-decoration: none;
  color: inherit;
}
