@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import 'assets/scss/variables.module.scss';

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #333333;
}
